In [1]:
import pandas as pd
import os
import sys

In [2]:
epl_table = pd.read_csv(os.path.join(os.environ["HOME"], "SHARED_DATA/prem_league_final_tables.tsv"), sep="\t")

In [3]:
epl_table.describe()

,games_won,games_drawn,games_lost,goals_scored,goals_conceded,goal_difference,points_total
count,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000
mean,14.250825,9.933993,14.250825,51.135314,51.135314,0.000000,52.686469
std,5.689177,2.972424,5.350504,14.878955,12.776328,24.651756,16.294624
min,1.000000,2.000000,0.000000,20.000000,15.000000,-69.000000,11.000000
25%,10.000000,8.000000,10.250000,41.000000,43.000000,-17.000000,41.000000
50%,13.000000,10.000000,15.000000,48.000000,51.000000,-5.000000,50.000000
75%,18.000000,12.000000,18.000000,60.000000,59.000000,15.000000,63.000000
max,32.000000,18.000000,29.000000,106.000000,100.000000,79.000000,100.000000

## The "shape" of the dataframe

How many columns and rows in the dataframe?

Try any of these:

- epl_table.count()
- epl_table.shape[0]
- epl_table.size # number of "cells"
- df[epl_table.columns[0]].count()
- len(epl_table.index)
- len(epl_table)

In [4]:
row_count, column_count = epl_table.shape[0], epl_table.shape[1]

In [5]:
print(row_count, column_count)
print(row_count * column_count)

606 9
5454

## The data types and names of the columns

In [6]:
print(epl_table.dtypes)
print(epl_table.columns)

season             object
club_name          object
games_won           int64
games_drawn         int64
games_lost          int64
goals_scored        int64
goals_conceded      int64
goal_difference     int64
points_total        int64
dtype: object
Index(['season', 'club_name', 'games_won', 'games_drawn', 'games_lost',
       'goals_scored', 'goals_conceded', 'goal_difference', 'points_total'],
      dtype='object')

## Extract a sub-set of the columns

In [7]:
subset = ["season", "club_name", "points_total"]
epl_table[subset]

        season         club_name  points_total
0    1992-1993           Arsenal            56
1    1992-1993       Aston Villa            74
2    1992-1993  Blackburn Rovers            71
3    1992-1993           Chelsea            56
4    1992-1993     Coventry City            52
..         ...               ...           ...
601  2021-2022           Everton            39
602  2021-2022      Leeds United            38
603  2021-2022           Burnley            35
604  2021-2022           Watford            23
605  2021-2022      Norwich City            22

[606 rows x 3 columns]

## Extract a sub-set of rows

Then slim it down by removing some columns

In [8]:
# All rows where the season is "2003-2004" and assign it to var df_0304
df_0304 = epl_table[epl_table["season"] == "2003-2004"]

In [9]:
# Drop the columns "season", "goals_scored", "goals_conceded", "goal_difference" and assign it to df_0304_slim
# can use either columns= or axis=1
df_0304_slim = df_0304.drop(columns=["season", "goals_scored", "goals_conceded", "goal_difference"])

In [10]:
df_0304_slim

                   club_name  games_won  games_drawn  games_lost  points_total
226                  Arsenal         26           12           0            90
227              Aston Villa         15           11          12            56
228          Birmingham City         12           14          12            50
229         Blackburn Rovers         12            8          18            44
230         Bolton Wanderers         14           11          13            53
231        Charlton Athletic         14           11          13            53
232                  Chelsea         24            7           7            79
233                  Everton          9           12          17            39
234                   Fulham         14           10          14            52
235             Leeds United          8            9          21            33
236           Leicester City          6           15          17            33
237                Liverpool         16           12          10            60
238          Manchester City          9           14          15            41
239        Manchester United         23            6           9            75
240            Middlesbrough         13            9          16            48
241         Newcastle United         13           17           8            56
242               Portsmouth         12            9          17            45
243              Southampton         12           11          15            47
244        Tottenham Hotspur         13            6          19            45
245  Wolverhampton Wanderers          7           12          19            33

## Get a unique list of all the clubs who have been in the premier league for every season in the dataset

- We need to select the club name from the "club_name" column and then get a unique list of the club names.
- How many clubs have spent at least one season in the EPL?
    - How many clubs have been in the PL for every season in the dataset?
    - How many clubs have spent just one season in the PL?

In [11]:
df_club_names_uniq = epl_table["club_name"].unique()

In [12]:
df_club_names_uniq

array(['Arsenal', 'Aston Villa', 'Blackburn Rovers', 'Chelsea',
       'Coventry City', 'Crystal Palace', 'Everton', 'Ipswich Town',
       'Leeds United', 'Liverpool', 'Manchester City',
       'Manchester United', 'Middlesbrough', 'Norwich City',
       'Nottingham Forest', 'Oldham Athletic', 'Queens Park Rangers',
       'Sheffield United', 'Sheffield Wednesday', 'Southampton',
       'Tottenham Hotspur', 'Wimbledon', 'Newcastle United',
       'Swindon Town', 'West Ham United', 'Leicester City',
       'Bolton Wanderers', 'Derby County', 'Sunderland', 'Barnsley',
       'Charlton Athletic', 'Bradford City', 'Watford', 'Fulham',
       'Birmingham City', 'West Bromwich Albion', 'Portsmouth',
       'Wolverhampton Wanderers', 'Wigan Athletic', 'Reading',
       'Hull City', 'Stoke City', 'Burnley', 'Blackpool', 'Swansea City',
       'Cardiff City', 'Bournemouth', 'Brighton & Hove Albion',
       'Huddersfield Town', 'Brentford'], dtype=object)

In [13]:
type(df_club_names_uniq)

numpy.ndarray

In [14]:
len(df_club_names_uniq)

50

In [15]:
# The total number of seasons in the dataset
# How many unique seasons
n_seasons = len(epl_table["season"].unique())
print(n_seasons)

30

In [16]:
epl_table.groupby(["club_name"])["season"].count().sort_values(ascending=False)

club_name
Arsenal                    30
Chelsea                    30
Tottenham Hotspur          30
Manchester United          30
Everton                    30
Liverpool                  30
Newcastle United           27
Aston Villa                27
West Ham United            26
Manchester City            25
Southampton                23
Blackburn Rovers           18
Sunderland                 16
Leicester City             16
Middlesbrough              15
Fulham                     15
Leeds United               14
West Bromwich Albion       13
Bolton Wanderers           13
Crystal Palace             13
Stoke City                 10
Norwich City               10
Coventry City               9
Wolverhampton Wanderers     8
Wimbledon                   8
Wigan Athletic              8
Watford                     8
Charlton Athletic           8
Burnley                     8
Sheffield Wednesday         8
Portsmouth                  7
Swansea City                7
Derby County                7
Birmingham City             7
Queens Park Rangers         7
Sheffield United            5
Nottingham Forest           5
Bournemouth                 5
Brighton & Hove Albion      5
Ipswich Town                5
Hull City                   5
Reading                     3
Cardiff City                2
Huddersfield Town           2
Bradford City               2
Oldham Athletic             2
Swindon Town                1
Barnsley                    1
Blackpool                   1
Brentford                   1
Name: season, dtype: int64

## Determine which teams were relegated and which were promoted between two consecutive seasons

- We can use ython's set type to do this.
- Think of another way to do it!
- Which teams were relegated in season 2013-2014?

In [17]:
clubs_1314 = set(epl_table[epl_table["season"] == "2013-2014"]["club_name"])
clubs_1415 = set(epl_table[epl_table["season"] == "2014-2015"]["club_name"])
relegated = clubs_1314 - clubs_1415

In [18]:
print(relegated)

{'Norwich City', 'Fulham', 'Cardiff City'}

 Working out which ones were promoted is as simple as switching the operands in the the expression that generated the relegated clubs.

In [19]:
promoted = clubs_1415 - clubs_1314

In [20]:
promoted

{'Burnley', 'Leicester City', 'Queens Park Rangers'}